body {
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    font-weight: bold;
}

main {
    min-height: 90vh;
}
.linkNav {
    font-size: 1.5rem;
}
.imgPortfolio {
    width: 40vw;
    border: 2px solid #272727;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 1s;
}

.imgPortfolio:hover {
    width: 700px;
    transition-duration: 1s;
}

.bgWhite {
    background-color: #e7E7E7;
}

.bgDark {
    background-color: #272727;
}

.bgGray {
    background-color: #F0CEA0;
    /* border-radius: 0px 10px 10px 0px */
}

.orange {
    color: #E48100;
}

.menu,
.footer {
    background-color: #E48100;
}

.menu a {
    color: #272727;
}

a:hover {
    color: #e7E7E7;
}

.logo {
    transition-duration: 0.5s;
    width: 100px;
}

.logoPhp {
    width: 150px;
    transition-duration: 0.5s;
}


.logo:hover {
    transition-duration: 0.5s;
    width: 120px;
}
.logoPhp:hover {
    transition-duration: 0.5s;
    width: 170px;
}

a {
    text-decoration: none;
}

.year {
    background-color: #272727;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: #e7E7E7;
    padding-bottom: 0;
    margin-bottom: 0;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid #272727;
    padding-bottom: 0;
    margin-bottom: 0;
}


.hobby {
    /* border-radius: 150px; */
    width: 29vw;
    height: 34vh;
    /* box-shadow: -22px 17px 15px 0px rgba(0,0,0,0.1); */
}

.logoFooter {
    width: 75px;
}

.footer h2 {
    font-size: x-large;
}
.desc {
    font-size: 1.25rem;
}
.profil {
    width: 14vw;
    height: 36vh;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

@media screen and (min-width:1200px) {
    .lineProfil {
        border-left: 2px solid #272727;
    }
    
}

@media screen and (max-width:1200px) {
    .profil {
        width: 25vw;
        height: 35vh;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border: #202020 2px solid;
    }
}

@media screen and (max-width:900px) {

    .profil {
        width: 40vw;
        height: 35vh;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border: #202020 2px solid;
    }
    
.hobby {
    width: 70vw;
    height: 40vw;
    /* border-radius: 20px; */
}
.imgPortfolio {
    width: 40vw;
    border: 2px solid #272727;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 1s;
}
}

@media screen and (min-width:900px) and (max-width:1200px) {

    .hobby {
        width: 40vw;
        height: 25vh;
        /* border-radius: 20px; */
    }
    }
@media screen and (max-width:1200px) {
    .lineProfil {
        border-top: 2px solid #272727;
    }
    
}
@media screen and (max-width:1200px) and (min-width:900px){

.imgPortfolio {
    width: 40vw;
    border: 2px solid #272727;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 1s;
}
}
.borderRight {
    border-right: 2px solid #272727;
}

.borderLeft {
    border-left: 2px solid #272727;
}



@keyframes fadeEffect {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.5;
    }
}

.fade {
    animation: 1s 1 linear fadeEffect alternate;
}



/* 3D HOVER */

.cards {
    perspective: 500px;
    margin: 10px;
}

.card {
    background-color: transparent;
    width: 130px;
    height: 135px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
  }
  
  .card:hover {
    background-color: #202020;
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
  }
  
  .card:hover .card_title {
    transform: translateZ(50px);
  }

